# git config in Macos

[include]
	path = ~/.global.gitconfig
	path = ~/.local.gitconfig

[credential]
	helper = osxkeychain

[user]
	name = liuyinz
	email = liuyinz95@gmail.com

[submodule]
	fetchJobs = 8

[github]
	user = liuyinz