# git config in Macos

[include]
	path = ~/.global.gitconfig

[user]
	name = liuyinz
	email = liuyinz95@gmail.com

[credential]
	helper = osxkeychain

[http "https://github.com"]
	proxy = http://127.0.0.1:4780

[submodule]
	fetchJobs = 8

[github]
	user = liuyinz

