## The following requirements were added by pip freeze:
absl-py==1.0.0
anyio==3.6.1
argcomplete==2.0.0
astroid==2.11.5
beautifulsoup4==4.11.1
browser-cookie3==0.14.1
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.2
cssselect==1.1.0
dill==0.3.5.1
docopt==0.6.2
epc==0.0.5
Flask==2.1.2
greenlet==1.1.2
grip==4.6.1
h11==0.13.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.11.4
isort==5.10.1
itsdangerous==2.1.2
jeepney==0.8.0
jieba==0.42.1
Jinja2==3.1.2
keyring==23.5.1
lazy-object-proxy==1.7.1
lxml==4.9.0
lz4==4.0.1
Markdown==3.3.7
MarkupSafe==2.1.1
mccabe==0.7.0
msgpack==1.0.3
my-cookies==0.1.3
neovim-remote==2.5.1
numpy==1.22.4
packaging==21.3
pandas==1.4.2
path-and-address==2.0.1
pbkdf2==1.3
platformdirs==2.5.2
pqi==2.0.6
protobuf==4.21.1
psutil==5.9.1
pyaes==1.6.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.1
pygls==0.11.3
Pygments==2.12.0
pylint==2.13.9
pymongo==4.1.1
pynvim==0.4.3
pyparsing==3.0.9
pyquery==1.4.3
python-dateutil==2.8.2
python-magic==0.4.26
pytz==2022.1
PyYAML==6.0
qypi==0.6.0
requests==2.27.1
rfc3986==2.0.0
SecretStorage==3.3.2
Send2Trash==1.8.0
sexpdata==0.0.3
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
typeguard==2.13.3
typing_extensions==4.2.0
urllib3==1.26.9
userpath==1.8.0
weibo-spider==0.3.0
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
